#battery {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 22px;
  background: @primary;
  color: @text-primary;

  padding-right: 5px;
  margin: 5px 0;
}
#clock {
  background: @secondary;
  color: @text-primary;
  margin: 6px 0;
}
#clock.time {
}
#clock.date {
}

.modules-center #custom-separator-start-1,
.modules-center #custom-separator-end-1 {
  color: @primary;
}

.modules-center #custom-separator-start-2,
.modules-center #custom-separator-end-2 {
  color: @secondary;
  background: @outler;
}

.modules-center #custom-separator-start-3,
.modules-center #custom-separator-end-3 {
  color: @outler;
  background: @background;
}
.modules-center #custom-separator-start-inv-1,
.modules-center #custom-separator-end-inv-1 {
  color: @secondary;
}

.modules-center #custom-separator-start-inv-2,
.modules-center #custom-separator-end-inv-2 {
  color: @outler;
}

#network {
  background: @outler;
  color: @background;
  margin: 5px 0;
}
